<h1>All Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <% if wiki.private == false %>
            <h4 class="media-heading">
              <p><%= link_to wiki.title, wiki %></p>
            </h4>
          <% elsif (wiki.private == true && (wiki.user == current_user || current_user.admin?)) %>
            <h4 class="media-heading">
              <p>
                <%= link_to wiki.title, wiki %> -
                <small>
                  <% if wiki.private == true %>
                    Private wiki
                  <% end %>
                </small>
              </p>
            </h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>
